<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>结算页</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>结算页</h5>
        </div>
        <div class="ibox-content">

            <div  class="form-inline pull-right">
                <div class="content clearfix m-b" >
                    <div class="form-group" style="position: absolute; left: 22%;">
                        <label style="font-size: 26px;">合计<strong style="font-size: 30px;color: #8bd0c0" id="cnt">0</strong>件：￥<strong style="color: red;font-size: 40px;" id="total">0</strong></label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="clear"><strong>清 空</strong>
                        </button>
                    </div>
                </div>
            </div>
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable">
                        <thead>
                        <th data-field="pid">订单号</th>
                        <th data-field="product_id">商品编号</th>
                        <th data-field="title">商品标题</th>
                        <th data-field="desc">商品详情</th>
                        <th data-field="price">商品价格</th>
                        <th data-field="img">商品图</th>
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        //$('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: false, //启动分页
            pageSize: 100,  //每页显示的记录数
            sidePagination: "server", //表示服务端请求
            onLoadSuccess: function(res){  //加载成功时执行
                if(111 == res.code){
                    window.location.reload();
                }
                //layer.msg("加载成功", {time : 1000});
            },
        });
    }
    function getGoods() {
        $.ajax({
            url:"{:url('index/getGoods')}",
            type:"post",
            data:{},
            dataType:"json",
            success:function(data){
                if(data.code == 1){
                    $("#cusTable").bootstrapTable('append',data.data);
                    getTotal();
                }
            },
            error:function(xmlHttpRequest,textStatus,errorThrown){
                console.log(textStatus+"出错！"+errorThrown);
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();
        setInterval("getGoods()", 2000);
        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);

    });

    function articleDel(id){
        layer.confirm('确认删除此商品?', {icon: 3, title:'提示'}, function(index){
            //do something
            $("#cusTable").bootstrapTable('remove', {
                field: 'pid',
                values: [id]
            });
            getTotal();
            layer.close(index);
        })

    }

    function getTotal() {
        var total=0,data = $("#cusTable").bootstrapTable('getData');
        $('#cnt').text(data.length);
        data.map(function (item) {
            total += parseFloat(item.price);
        })
        $('#total').text(parseFloat(total.toPrecision(12)));


    }
    $('#clear').click(function () {
        $("#cusTable").bootstrapTable('removeAll');
        getTotal();
    })
</script>
</body>
</html>
